/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Feb 2021, 2:21:38 pm
    Author     : songalia
    NPX Install: npx tailwindcss-cli@latest build webroot/css/styles.css -c webroot/css/tailwindcss/tailwind.config.js  -o webroot/css/tailwindcss/dist/tailwind.css
*/

@tailwind base;

ion-icon{
    margin-bottom: -2px;
}

@tailwind components;

.discount-percentage-tag{
   @apply bg-red-800 text-gray-100 py-2 px-4;
}

.btn-default{
    @apply bg-yellow-300 hover:bg-red-900 text-gray-900 hover:text-gray-100
        py-3 px-5 active:bg-yellow-300 active:text-gray-700 rounded-sm text-lg
        table m-auto  cursor-pointer rounded-sm transition-colors select-none
        border border-gray-500;
}

/*PENDING*/
.prod-description{
    @apply text-2xl text-gray-600;
}

.prod-card-sec-info{
    @apply col-span-full md:col-span-3;
}

.prod-action-cart{
    @apply text-gray-900 cursor-pointer font-black py-3 md:py-5 px-5 md:px-10 border-2
        tracking-wider transition-all border-gray-700 hover:bg-yellow-100                             
        hover:text-black hover:border-white text-xl;                             
}

.prod-action-buy{
    @apply text-gray-900 cursor-pointer font-black py-3 md:py-5 px-5 md:px-10 border-2
        tracking-wider transition-all border-gray-700 hover:bg-yellow-100                               
        hover:text-black hover:border-white text-xl;                              
}

.prod-action-container{
    @apply  flex justify-around;
}

.prod-discount-percentage{
    @apply text-lg md:text-xl my-auto bg-red-800 text-gray-100 py-2 px-4;
}

.prod-discounted-price{
    @apply text-5xl md:text-6xl mx-5 text-black;
}

.prod-base-price{
    @apply text-lg md:text-2xl my-auto text-red-600;
}

.prod-title{
    @apply text-3xl text-left tracking-wider text-gray-800 font-normal text-center;
}

.prod-card-main-info{
    @apply col-span-full md:col-span-7 ;
}

.prod-card-information-container{
    @apply  grid grid-cols-1 md:grid-cols-10  mt-5 gap-10 md:gap-5;
}

.prod-card-sec-image{
    @apply h-full md:w-full md:h-auto object-cover m-auto transition-all 
        bg-yellow-800 transform hover:scale-105;                             
}

.prod-card-sec-image-container{
    @apply h-full max-w-lg overflow-hidden inline-block md:h-auto 
        md:mx-2 md:block  cursor-pointer transition-all md:w-full mb-2 mr-1;              
}

.prod-card-list-image-container{
    @apply overflow-x-auto overflow-y-hidden md:overflow-y-auto md:overflow-x-hidden
        md:px-5 py-3 relative h-1/5 md:h-full md:col-span-3;                     
}

.prod-card-main-image{
    @apply relative max-h-full block w-auto m-auto self-center bg-yellow-800;
}

.prod-card-main-image-container{
    @apply relative h-4/5 md:h-full  md:col-span-7 overflow-hidden flex flex-col
        justify-center;
}

.prod-card-on-tab-container{
    @apply md:grid md:grid-cols-10 overflow-hidden gap-10 lg:gap-20
        bg-yellow-900 px-4 py-8;
}

.normal-prod-card-on-tab{
    @apply p-2 bg-yellow-50;
}

.normal-prod-discounted-price{
    @apply my-5 text-4xl text-blue-600 text-center font-bold tracking-wider;
}


.close-tab-button{
    @apply  border border-gray-300 border-opacity-0 hover:text-white
        hover:border-opacity-100 hover:shadow-xl hover:bg-gray-800 
        transition-all p-1 rounded-full text-5xl text-gray-700 
        font-bold  cursor-pointer;
}



.text-loader{
    @apply w-full bg-gray-300 h-5 my-4 animate-pulse rounded-full;
}

.header-discover{
    @apply  flex justify-between flex-col-reverse md:flex-row my-5;
}

.header-title{
    @apply  bg-white flex mt-20 md:mt-0 ;
}





@tailwind utilities;
.decoration-bg-light{
    text-decoration-color: rgba(30, 58, 199,0.7);
}

.direction-ltr{
    direction: ltr;
}

.direction-rtl{
    direction: rtl;
}