/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Feb 2021, 2:21:38 pm
    Author     : songalia
    NPX Install: npx tailwindcss-cli@latest build webroot/css/styles.css -c webroot/css/tailwindcss/tailwind.config.js  -o webroot/css/tailwindcss/dist/tailwind.css
*/

@tailwind base;

ion-icon{
    margin-bottom: -2px;
}

@tailwind components;

.discount-percentage-tag{
   @apply bg-red-800 text-gray-100 py-2 px-4;
}

.btn-default{
    @apply bg-yellow-300 hover:bg-red-900 text-gray-900 hover:text-gray-100
        py-3 px-5 active:bg-yellow-300 active:text-gray-700 rounded-sm text-lg
        table m-auto  cursor-pointer rounded-sm transition-colors select-none
        border border-gray-400 tracking-wider shadow-md;
}

.btn-on-tab{
	@apply select-none text-gray-900 cursor-pointer font-black py-3 px-5
		border tracking-wider transition-all border-gray-500 
		hover:bg-yellow-100 hover:text-black hover:border-white text-xl 
		active:bg-yellow-900 active:text-white; 							
}

.text-loader{
    @apply w-full bg-gray-300 h-5 my-4 animate-pulse rounded-full;
}

@tailwind utilities;
.decoration-bg-light{
    text-decoration-color: rgba(0, 0, 0,0.5);
}

.direction-ltr{
    direction: ltr;
}

.direction-rtl{
    direction: rtl;
}

.h-screen-40{
	height: 40vh;
}

.h-screen-50{
	height: 50vh;
}

.h-screen-60{
	height: 60vh;
}

.h-screen-70{
	height: 70vh;
}

.h-screen-80{
	height: 80vh;
}

.h-screen-90{
	height: 90vh;
}

